.navBar {
    background-color: crimson;
}

.navBar a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* .dropdown:focus-within .dropdown-content {
    display: block;
} */

table#editable {
    margin-left: auto;
    margin-right: auto;
}

#headerLogo {
    width: 25%;
}

#aboutlink:first-letter, #aboutlink {
    text-decoration: none;
    font-size: .6em;
    color: #e03e43;
}

#aboutlink:first-letter {
    font-size: 130%;
}

@media (min-width: 550px) {
#aboutlink:first-letter, #aboutlink {
    font-size: 1.6em; }
}
